[Unit]
Description=Restart dwmst after suspend
After=suspend.target

[Service]
User=%I
Type=simple
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/killall dwmst
ExecStart=/usr/bin/sleep 3 ; /usr/bin/dwmst

[Install]
WantedBy=suspend.target
